<form id="edit-plant-modal" class="editplant">
  <input type="hidden" id='"plant-id-from-edit-modal"' name="plant[id]" value='{{plant.id}}'>
  <label>Plant Type</label>
  <select class="plant-input" id="modal-plant-type" name="plant[plant_type]" val='select a type'>
    {{#each option as |plant_type|}}
    <option value="{{plant_type.[0]}}" {{plant_type.[1]}}>{{plant_type.[0]}}</option>
    {{/each}}
  </select>
<br>
<label>Common Name:</label><input required class="plant-input" type="text" name="plant[common_name]" required size= "75" value='{{plant.common_name}}'><br>
<label>Scientific Name:</label><input class="plant-input" type="text" name="plant[scientific_name]" size= "75" value='{{plant.scientific_name}}' placeholder="Scientific Name (optional)"><br>
<label>Variety:</label><input class="plant-input" type="text" name="plant[variety]" size= "75" value='{{plant.variety}}' placeholder="Variety (optional)"><br>
<label>Brand:</label><input class="plant-input" type="text" name="plant[brand]" size= "75" value='{{plant.brand}}' placeholder="Brand (optional)"><br>
<br>
  <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
  <input type="submit" value="Save Changes" id="edit-plant-modal-save" class="btn btn-primary">
</form>
