<table class="table table-responsive">
  <thead class='table-header'>
      <th class='add-table'>Plant Type</th>
      <th class='add-table'>Common Name</th>
      <th class='add-table'>Scientific Name</th>
      <th class='add-table'>Variety</th>
      <th class='add-table'>Brand</th>
  </thead>
  <tbody>
  {{#each plants as |plant|}}
    <tr>
      <td class='add-table'>{{plant.plant_type}}</td>
      <td class='add-table'>{{plant.common_name}}</td>
      <td class='add-table'>{{plant.scientific_name}}</td>
      <td class='add-table'>{{plant.variety}}</td>
      <td class='add-table'>{{plant.brand}}</td>
      <td class='button-cell'>
        <button data-id="{{plant.id}}" type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#editPlantModal">Edit</button>
        </td>
        <td class='button-cell'>
          <button data-id="{{plant.id}}"  type="button" class="btn btn-info table-button delete-modal-button" data-toggle="modal" data-target="#delete-plant-modal">Delete</button>
        </td>
    </tr>
        {{/each}}
  </table>
  </tbody>
</table>
