<table>
  <thead class='table-header'>
      <th class='show-mobile'>Plant Type</th>
      <th class='show-mobile'>Common Name</th>
      <th class='hide-mobile'>Scientific Name</th>
      <th class='show-mobile'>Variety</th>
      <th class='hide-mobile'>Brand</th>
  </thead>
  <tbody>
  {{#each plants as |plant|}}
    <tr>
      <td class='show-mobile'>{{plant.plant_type}}</td>
      <td class='show-mobile'>{{plant.common_name}}</td>
      <td class='hide-mobile'>{{plant.scientific_name}}</td>
      <td class='show-mobile'>{{plant.variety}}</td>
      <td class='hide-mobile'>{{plant.brand}}</td>
    </tr>
    <tr>
      <td class='button-cell'>
        <button data-id="{{plant.id}}" type="button" class="edit-button" data-toggle="modal" data-target="#editPlantModal">Edit</button>
      </td>
      <td class='button-cell'>
        <button data-id="{{plant.id}}"  type="button" class="table-button delete-plant" data-toggle="modal" data-target="#delete-modal">Delete</button>
      </td>
    </tr>
        {{/each}}
  </table>
  </tbody>
</table>
